body {
  width: 100%;
}
.flexContainer {
  display: flex;
  height: 100vh;
  /* flex-wrap: wrap; */
  border: 1px solid red;
  width: 100;
  /* align-items: flex-end; */
  /* gap: 10px; */
  /* justify-content: space-evenly; */
  /* flex-direction: column-reverse; */
}
.flexItems {
  border: 1px solid black;
  width: 19%;
  height: 300px;
  color: red;
  font-size: 28px;
  background-color: yellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.a {
  order: -1;
}
