/* Universal Selector */
* {
  /* border: 1px solid black; */
}

/* Tag Selector */
p {
  border: 1px solid red;
  /* font-weight: 700; */
  /* color: orange; */
}
/* id selector */
#para {
  color: blue !important;
  font-size: 40px;
}

/* class selector */
.a {
  font-size: 30px;
  color: red;
  font-weight: 400;
}

h1 {
  border: 1px solid red;
  padding: 20px 30px 40px 1000px;
  margin: 30px 100px 100px 100px;
  /* display: inline; */
}
span {
  /* display: block; */
  border: 1px solid red;
}

li:nth-child(3) {
  color: blue;
  font-size: 32px;
}

span::before {
  content: "Hi this is written by css";
  color: yellow;
}
span:first-letter {
  color: green;
  font-size: 32px;
}
h1::first-letter {
  color: green;
}
p {
  text-transform: lowercase;
}
.a::first-line {
  color: green;
  font-size: 40px;
}
